.team-project-template {

    padding: 0;

    .templates {
        padding: 0;
    }

    .middle-column {
        top: 14.2rem;

        .filter-user {
            border-bottom: 1px solid #eeeeee;

            .search-input {
                margin-left: 3rem;
                padding: 4rem 2rem;

                width: 30rem;
                height: 4rem;
                line-height: 4rem;

                font-size: 1.8rem;
                font-family: $typo1;
                cursor: pointer;

                border: none !important;

                &::-webkit-input-placeholder {
                    //color: $touareg !important;
                }

                &:-moz-placeholder {
                    //color: $touareg !important;
                }

                &:focus {
                    outline: 0;
                }
            }

            .search-icon {
                font-size: 2rem;
                color: $touareg;
                cursor: pointer;
            }
        }

        .parent {
            .parent-wrapper {
                background: #f4f8f9;

                .childs-number {
                    background: $touareg;
                    color: white;
                }
            }
        }

        .btn-add-user {
            display: inline-block;
            vertical-align: middle;
            float: right;
            margin-top: 1.1rem;

            font-size: 2.7rem;
            color: #b5d4d6;
            cursor: pointer;

            &:hover {
                color: $touareg;
            }
        }
    }

    .project-team-content {
        overflow: hidden;
        padding: 3rem;
        margin-left: 40.5rem;
        
        table {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        .valid-team {
            clear: both;
            display: block;
            margin-top: 5rem;
            float: right;
            color: $touareg;
            padding: 1rem 2.5rem 1rem 2.5rem;

            font-size: 1.7rem;

            border: none;
            background: $green;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;

            i {
                font-size: 19px;
            }

            &:focus {
                outline: 0;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}