.valid {
    border-radius: 0px;
    border: 1px solid $green;
    background: $green;
    color: $touareg;
}

.valid:hover {
    opacity: 0.8;
    color: $touareg;
}

.button {
    border-radius: 0px;
    color: white; 
    background: $touareg;
}

.button:hover {
    opacity: 0.8;
    color: white;
}

.button-message {
    background: url(../img/messages/repondre.png) no-repeat;
    border:none;
    width: 36px;
    height: 35px;

    .glyphicon-comment {
        display: none;
    }
}

.button-message:hover {
    background: url(../img/messages/repondre-hover.png) no-repeat;
}

.back {
    background: url(../img/back/back.png) no-repeat;
    width: 28px;
    height: 28px;
    float: right;
}

.back:hover {
    background: url(../img/back/back-hover.png) no-repeat;
}

.users {
    margin-top: 2rem;
}

.delete {
    border-radius: 0px;
    background: #ca2e44;
    color: white;

    .picto-delete {
        color: white;
    }
}

.delete:hover {
    color: white;
    opacity: 0.8;
}

.btn {
    .glyphicon {
        margin-right: 0.5rem;
    }
}

.add {
    width: 25px;
    height: 26px;
    margin-right: 2rem;
    margin-bottom: 2rem;

    background: url(../img/dashboard/add.png)no-repeat;
}
.add:hover {
    background: url(../img/dashboard/add-hover.png)no-repeat;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.see-more {
    width: 27px;
    height: 27px;
    border:none;
    background: url(../img/dashboard/see-more-1.png) no-repeat;
    margin-right: 0.5em;
}

.see-more:hover {
    background: url(../img/dashboard/see-more-hover-1.png) no-repeat;
}

.move-widget {
    font-size: 2.5rem;
    margin-right: 1rem;
    color: #096a85;
}

.cancel {
    width: 16px;
    height: 16px;
    background: url(../img/cancel.png) no-repeat;
}
