label {
	color: $touareg;
	font-weight: 400;
}

input[type="text"], input[type="email"], input[type="time"], input[type="password"], textarea, select {
	border: 1px solid $light_blue !important;
	border-radius: 0px !important;
	color: #6a7376;
	cursor: pointer;
	background: #fdfdfd;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fdfdfd url('../img/select.png') right center no-repeat !important;
}

.form-control[disabled] {
	background: #f3f3f3 !important;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
	border: 1px solid $green;
}

input:focus, textarea:focus, select:focus {
	border: 1px solid $green !important;
	box-shadow: none !important;
}

::-webkit-input-placeholder {
	color: #a3b1bd !important;
}

:-moz-placeholder {
   color: #a3b1bd !important;
}