
@media only screen and (max-width:1450px) and (min-width: 1200px) {

	.project-bar {
		.top-nav {

			li {
				padding-left: 1rem;
				padding-right: 1rem;
				font-size: 1.6rem;
			}
		}
	}

	.last-messages {
		.table {

			.conversation {

				.text-conversation {
					min-width: 250px;
				}
			}
		}
	}
}

@media only screen and (max-width:1200px) and (min-width: 1024px) {

	.project-bar {
		.top-nav {

			li {
				padding-left: 0rem;
				padding-right: 0rem;
				font-size: 1.5rem;
			}
		}
	}
}


@media only screen and (max-width:1024px) {

	.planning, .planning-template, .settings-template {

		.fc-toolbar {

			.fc-left {
				margin-bottom: 2rem;
			}

			.fc-right {
				float: left;
				margin-bottom: 2rem;
			}
		}
	}

	.left-bar {
		ul {

			.menu {
				.toggle-left-bar {
					display: none;
				}
			}
		}
	}

	.project-bar {
		.top-nav {

			li {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				font-size: 1.4rem;

				a {
					padding: 3px 7px;
				}
			}
		}
	}

	.table {
		tr, .template-upload {
			td {
				.btn {
					margin-right: 1rem;
					padding: 5px 10px;
					.glyphicon-remove, .glyphicon  {
						margin-right: 0rem;
					}
					.value {
						display: none;
					}
				}

				.delete {
					float: right;
				}
			}

			.file_button {
				width: 115px;
			}
		}
	}
}

@media only screen and (max-width:1450px) {
	.project-bar {
		.top-nav {

			.active {
				a {
					border-bottom: none;
					color: $green;
				}
			}
		}
	}
}