.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9fbe6;
    border: none;
}
.table {  
    margin-bottom: 0px;

    > tbody {
        > tr {
            > td {
                vertical-align: middle;
                padding: 0.8rem 1.5rem;
                font-family: $typo2;
                color: $touareg ;
                font-size: 1.6rem;
            }

            td:last-child {
                min-width: 125px;
            }

            .entity_title {
                text-decoration: underline;

                a:hover {
                    color: $light_blue;
                }
            }

            .project-border {
                width: 0.5rem;
            }
        }
    }
}

.table {
  
    thead {
        font-family: $typo2;
        color: #8fafbc;
        font-size: 1.8rem;

        th:last-child {
            text-align: right;
            padding-right: 3.5rem;
        }

        th {
             font-weight: 400;
        }

        th:first-child {
            padding-left: 1rem;
        }
    }
}