.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9fbe6;
    border: none;
}
.table {  
    margin-bottom: 0px;
    > tbody {
        > tr {
            > td {
                vertical-align: middle;
                padding: 1.5rem 1rem;
                font-family: $typo2;
                color: $touareg ;
                font-size: 1.8rem;

                .see-more {
                    width: 27px;
                    height: 27px;
                    border:none;
                    background: url(../img/dashboard/see-more-1.png) no-repeat;
                    margin-right: 0.5em;
                }

                .see-more:hover {
                    background: url(../img/dashboard/see-more-hover-1.png) no-repeat;
                }

                 .cancel {
                    width: 16px;
                    height: 16px;
                    background: url(../img/cancel.png) no-repeat;
                }
            }

            td:last-child {
                min-width: 100px;
            }
        }
    }
}

 .cancel {
    width: 16px;
    height: 16px;
    background: url(../img/cancel.png) no-repeat;
}

.table > tbody > tr > td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table {
  
    thead {
        font-family: $typo2;
        color: #8fafbc;
        font-size: 1.8rem;

        th:last-child {
            text-align: right;
            padding-right: 3.5rem;
        }

        th {
             font-weight: 400;
        }

        th:first-child {
            padding-left: 1.8rem;
        }
    }
}
