.beta-form {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999;

    .icon {
        padding: 8px 6px 8px 8px;
        background: white;
        border: 1px solid #bdc0c1;
        border-bottom: none;
        border-right: none;
        cursor: pointer;
        color: $touareg;
    }
}

.beta-form:hover .glyphicon {
    color: $green;
}