html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.content {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 26.5rem;

    background: #e6f0f3;
}

.content-expanded {
    margin-left: 4.9rem;
}