html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: #e6f0f3;
}

.content {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 300px;
}

.content-page {
    margin: 3rem;
}