.left-bar {
    padding: 0rem 0 0rem 0;
    width: 26.5rem;
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0;
    z-index: 99;

    background: #0a6a86;

    > ul {
        padding-left: 0rem;
        margin-bottom: 0;

        list-style: none;

        background: #0a6a86;

        .menu {
            padding: 0rem;
            list-style: none;

            background: none;
            font-family: $typo1;
            border-bottom: 1px solid #9dc3cf;

            a {
                overflow: hidden;
                display: block;
                color: white;
                padding-left: 2rem;
            }

            h3 {
                margin: 0;
            }

            a:hover {
                color: $green;
                text-decoration: none;
            }

            .toggle-childs {
                margin-top: 1.7rem;
                margin-right: 1.5rem;

                color: white;
                float: right;
                cursor: pointer;
                font-size: 1.3rem;

                @extend .glyphicon;
                @extend .glyphicon-triangle-top;
            }

            .border {
                width: 50px;
                height: 50px;
                float: left;
                margin-right: 1.9rem;
                border-right: 1px solid #9dc3cf;
            }

            .sub-menu {
                margin-left: 0;
                padding-left: 0;
                background: #0c7594;
                list-style: none;

                li {
                    border-left: 1px solid #9dc3cf;
                    margin-left: 4.9rem;

                    a {
                        padding-top: 1.3rem;
                        padding-bottom: 1rem;
                        font-family: $typo2;
                        font-size: 1.5rem;
                    }
                }

                li:first-child {
                    padding-top: 1rem;
                }
            }

            .sub-menu:not(.sub-menu-projects) {
                li:last-child {
                    padding-bottom: 1rem;
                }
            }

            li.archived-project-title {
                color: #76aac2;
                border-top: 1px solid #76aac2;
                padding: 3rem 0 0.75rem 3rem;
                padding-top: 2rem !important;
                display: block;

                i {
                    margin-right: 1rem;
                    display: inline-block;
                    color: #76aac2;
                }
            }

            li.archived-project {
                a {
                    color: #76aac2;
                }

                a:hover {
                    color: $green;
                }
            }

            .filter-project {
                cursor: default;
                border: none;
                position: relative;

                padding-top: 1.8rem !important;
                padding-bottom: 0.5rem;

                &:before {
                    position: absolute;
                    display: block;
                    color: #bbc9c9;
                    top: 2.6rem;
                    left: 3rem;

                    @extend .fa;
                    @extend .fa-filter;
                }

                input[type="text"] {
                    font-family: $typo2;
                    width: 84%;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    padding-left: 2.7rem;
                }
            }

            .add-project {
                color: white;
                border-bottom: 1px solid #9dc3cf;

                a {
                    font-size: 1.3rem !important;
                    font-family: $typo1 !important;
                    
                    i {
                        margin-right: 1rem;
                        vertical-align: middle;

                        font-size: 2rem;
                    }
                }
            }

            .title {
                float: left;
                font-size: 1.7rem;
                color: white;
                //letter-spacing: 0.1rem;
                padding-top: 1.8rem;
            }

            .title:hover {
                color: $green;
            }

            .line {
                display: block;
                overflow: hidden;

                cursor: pointer;
            }

            .icon {
                color: white;
                font-size: 1.8rem;
                margin: 15px 0 0 15px;
                display: block;
            }

            .dashboard {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-th-large;
                }
            }

            .projects {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-folder-open;
                }
            }

            .management {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-pushpin;
                }
            }

            .tools {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-wrench;
                }
            }

            .administration {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-cog;
                }
            }

            &:hover {
                .toggle-childs {
                    color: $green;
                }
            }
            
            &.submenu-closed {
                .toggle-childs {
                    @extend .glyphicon-triangle-bottom;
                }

                ul {
                    display: none;
                }
            }
        }

        .menu:nth-child(2) .sub-menu {

            max-height: 316px;
            overflow-y: auto;
            overflow-x: hidden;

            li:first-child {
                padding-top: 0;
            }
        }

        .menu:nth-child(2) .sub-menu::-webkit-scrollbar {
            width: 5px;
        }

        .menu:nth-child(2) .sub-menu::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .menu:nth-child(2) .sub-menu::-webkit-scrollbar-thumb {
            background-color: #b4d2dc;
            outline: 1px solid slategrey;
        }

        .menu.encours {
            .icon {
                color: $green;
            }

            .toggle-childs {
                color: $green;
            }

            .title {
                color: $green;
            }

            .encours {
                background: #0c7594;
                a {
                    color: $green;
                }
            }
        }

        > .menu:first-child {

            a {
                padding-left: 0rem;
            }

            h3 {
                margin-top: 0;
            }
        }

        .menu:hover {
            .title, .icon {
                color: $green;
            }
        }
    }

    a:hover {
        text-decoration: none;
    }

    .toggle-left-bar {
        color: white;
        font-family: $typo2;

        .icon {
            color: $green;
        }
    }

    .toggle-left-bar:hover {
        color: $green;
    }
}

.left-bar-minified {
    width: 4.9rem;
    bottom: 0;

    > ul .menu {
        position: relative;

        .toggle-childs {
            display: none;
        }

        .title {
            display: none;
        }

        .sub-menu {
            display: none;
            background: #222 !important;
            position: absolute;
            left: 4.9rem;
            top: 0;
            width: 185px;

            li {
                margin-left: 0 !important;
            }
        }

        li.archived-project-title,  li.archived-project {
            color: #ccc !important;

            a, i {
                color: #ccc !important;
            }

            a:hover {
                color: $green !important;
            }
        }

        .filter-project {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;

            &:before {
                top: 1.8rem;
                left: 2rem;
            }

            input[type="text"] {
                width: 88%;
                margin-left: 1rem;
                margin-bottom: 0;
            }
        }
    }
}
