.left-bar {
    padding: 0rem 0 0rem 0;
    width: 300px;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 99;

    background: #0a6a86;

    > ul {
        list-style: none;
        padding-left: 0rem;
        margin-bottom: 0;

        .menu {
            padding: 0rem;
            list-style: none;

            background: none;
            font-family: $typo1;
            border-bottom: 1px solid #9dc3cf;

            a {
                overflow: hidden;
                display: block;
                color: white;
                padding-left: 2.7rem;
            }

            h3 {
                margin: 0;
            }

            a:hover {
                color: $green;
                text-decoration: none;
            }

            .border {
                width: 68px;
                height: 68px;
                float: left;
                margin-right: 2.9rem;
                border-right: 1px solid #9dc3cf;
            }

            .sub-menu {
                margin-left: 0;
                padding-left: 0;
                background: #0c7594;
                list-style: none;

                li {
                    border-left: 1px solid #9dc3cf;
                    margin-left: 6.7rem;

                    a {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        font-family: $typo2;
                        font-size: 1.6rem;
                    }
                }

                li:first-child {
                    padding-top: 1rem;
                }

                li:last-child {
                    padding-bottom: 1rem;
                }
            }

            li.archived-project-title {
                color: #76aac2;
                border-top: 1px solid #76aac2;
                padding: 3rem 0 0.75rem 3rem;
                padding-top: 2rem !important;
                display: block;

                i {
                    margin-right: 1rem;
                    display: inline-block;
                    color: #76aac2;
                }
            }

            li.archived-project {
                a {
                    color: #76aac2;
                }

                a:hover {
                    color: $green;
                }
            }

            .title {
                float: left;
                font-size: 2rem;
                color: white;
                letter-spacing: 0.1rem;
                padding-top: 2.5rem;
            }

            .title:hover {
                color: $green;
            }

            .line {
                display: block;
                overflow: hidden;
            }

            .icon {
                color: white;
                font-size: 2.5rem;
                margin: 20px 0 0 20px;
                display: block;
            }

            .dashboard {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-th-large;
                    font-size: 2.3rem;
                    margin: 20px 0 0 22px;
                }
            }

            .projects {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-folder-open;
                    font-size: 2.0rem;
                }
            }

            .management {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-pushpin;
                }
            }

            .tools {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-wrench;
                }
            }

            .administration {
                .icon {
                    @extend .glyphicon;
                    @extend .glyphicon-cog;
                }
            }
        }

        .menu:nth-child(2) .sub-menu {

            max-height: 252px;
            overflow-y: auto;
            overflow-x: hidden;

            li:first-child {
                padding-top: 0;
            }

            li:last-child {
                padding-bottom: 0;
            }
        }

        .menu:nth-child(2) .sub-menu::-webkit-scrollbar {
            width: 5px;
        }

        .menu:nth-child(2) .sub-menu::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .menu:nth-child(2) .sub-menu::-webkit-scrollbar-thumb {
            background-color: #b4d2dc;
            outline: 1px solid slategrey;
        }

        .menu.encours {
            .icon {
                color: $green;
            }

            .title {
                color: $green;
            }

            .encours {
                background: #0c7594;
                a {
                    color: $green;
                }
            }
        }

        > .menu:first-child {

            a {
                padding-left: 0rem;
            }

            h3 {
                margin-top: 0;
            }
        }

        .menu:hover {
            .title, .icon {
                color: $green;
            }
        }

        .toggle-left-bar {
            height: 68px;
            text-align: right;
            margin-right: 1rem;
            display: block;
            color: white;
            font-size: 2.2rem;
            padding-top: 2rem;
            cursor: pointer;
        }

        .toggle-left-bar:hover {
            color: $green;
        }
    }

    a:hover {
        text-decoration: none;
    }
}

.left-bar-minified {
    width: 68px;
    bottom: 0;

    .menu {
        position: relative;

        .title {
            display: none;
        }

        .sub-menu {
            display: none;
            background: #222 !important;
            position: absolute;
            left: 68px;
            top: 0;
            width: 185px;

            li {
                margin-left: 0 !important;
            }
        }

        .toggle-left-bar {
            text-align: center;
            margin-right: 0;
            border-right: 1px solid #9dc3cf;
        }

        li.archived-project-title,  li.archived-project {
            color: #ccc !important;

            a, i {
                color: #ccc !important;
            }

            a:hover {
                color: $green !important;
            }
        }
    }
}
