.top-bar-container {
    background: white;
    border-bottom: 1px solid #a3d2e0;

    .top-bar {
        padding-top: 2rem;
        padding-left: 1.1rem;
        height: 90px;

        .logo {
            font-size: 3rem;

            a {
                color: $black;
            }

            a:hover {
                text-decoration: none;
            }
        }

        .project-switcher {
            float:left; margin-left: 10rem; margin-top: 1rem;

            label {
                font-weight: bold; display: inline-block; vertical-align: middle; margin-right: 1rem; margin-top: 0.5rem;
            }

            select {
                width:20rem; display: inline-block; vertical-align: middle;
            }
        }

        .top-right-menu {
            position: relative;

            li {
                display: inline-block;
                margin-right: 2rem;

                .notifications-link, .todos-link {
                    display: block;
                    width: 57px;
                    height: 39px;
                    background: url(../img/top-bar/notification.png) no-repeat;

                    .badge {
                        margin-left: 2.5rem;
                        margin-top: -2.9rem;
                        padding: 8px 11px;
                        border-radius: 17px;
                        font-size: 15px;
                        background: $green;
                        color: $touareg;
                    }
                }

                .notifications-link:hover, .todos-link:hover {
                    background: url(../img/top-bar/notification-hover.png) no-repeat;

                    .badge {
                        background: $touareg;
                        color: $green;
                    }
                }

                .new-notifications {
                    background: #DF5A49;
                }

                .notifications {
                    position: absolute;
                    background: white;
                    border: 1px solid #a0a6a9;
                    padding: 1.5rem;
                    z-index: 999;
                    top: 7rem;
                    right: 0;
                    width: 35rem;
                    overflow-y: auto;
                    max-height: 467px;

                    .title {
                        font-size: 1.75rem;
                        font-weight: bold;
                        display: block;
                    }

                    .notification {
                        margin-bottom: 1rem;
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #ccc;
                        overflow: hidden;

                        .date {
                            font-weight: bold;
                            display: block;
                            float: left;
                        }

                        .type {
                            float: right;
                            margin-bottom: 0.75rem;
                        }

                        .description {
                            clear: both;
                            display: block;

                            .btn {
                                margin-top: 1rem;
                            }
                        }

                        .not-read {
                            color: #dadada;
                        }

                        .read {
                            color: #313131;
                        }

                        .status {
                            cursor: pointer;
                        }
                    }

                    .notification:first-child {
                        margin-top: 2rem;
                    }

                    .notification:last-child {
                        border: none;
                        padding-bottom: 0;
                    }
                }

                .todos-link {
                    background: url(../img/top-bar/todo.png) no-repeat;
                    width: 38px;
                    height: 33px;
                    display: block;

                    .badge {
                         margin-left: -1.5rem;
                    }
                }
                .todos-link:hover {
                    background: url(../img/top-bar/todo-hover.png) no-repeat;
                }

                .todos {
                    width: 268px;
                    position: absolute;

                    top: 56px;
                    left: -100px;
                    z-index: 999;
                    background: white;
                    border: 1px solid #a0a6a9;
                    padding: 1.5rem;

                    .title {
                        font-size: 1.75rem;
                        font-weight: bold;
                        display: block;
                        margin-bottom: 1rem;
                    }


                    ul {
                        padding: 0px;
                        margin-bottom: 2rem;
                    }

                    .todo {
                        margin-bottom: 0.5rem;
                        overflow: hidden; 
                        margin-right: 0px;
                        display: block;         
                        padding-left: 2rem;
                        cursor: pointer;
                        background: url(../img/top-bar/todo-uncheck.png) no-repeat left 5px;


                        .name {
                            width: 180px;
                            display: inline-block;

                        }

                        .name:hover {
                            opacity: 0.8;
                        }

                        .btn-delete-todo {
                            color: $touareg; 
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: middle;
                            white-space: normal;
                        }

                        .btn-delete-todo:hover {
                            color: $green;
                        }
                    }

                    .todo:hover, .todo-status-completed {
                        
                        margin-right: 0;
                    }

                    .no-todos {
                        color: #a0a6a9;
                    }

                    .todo-status-completed {
                        background: url(../img/top-bar/todo-check2.png) no-repeat left 2px;
                        .name {
                            text-decoration: line-through;                            
                        }
                    }

                    .form-inline {

                        .new-todo {
                            width: 178px;
                            height: 28px;
                            margin-right: 1.5rem;
                        }

                        .add {
                            margin-right: 0;
                            margin-bottom: 0;
                        }

                        .valid {
                            padding: 0.5rem;
                            height: 30px;
                        }
                    }
                }
            }

            .todo {
                position: relative;
            }

            .avatar {
                border-radius: 50%;
                border: 1px solid $green;
                width: 50px;
                height: auto;
            }

            .avatar:hover {
                opacity: 0.9;
            }

            .out {

                vertical-align: middle;

                .log-out {
                    display: block;
                    width: 33px;
                    height: 32px;
                    background: url(../img/top-bar/log-out.png)no-repeat center center;
                }

                .log-out:hover {
                    background: url(../img/top-bar/log-out-hover.png)no-repeat center center;
                }
            }
        }
    }
}