.top-bar-container {
    background: white;
    border-bottom: 1px solid #a3d2e0;

    .top-bar {
        padding-top: 2rem;
        padding-left: 2rem;
        height: 90px;
        background: white;

        .logo {
            font-size: 3rem;

            a {
                color: $black;
            }

            a:hover {
                text-decoration: none;
            }
        }

        .project-switcher {
            float:left;
            margin-left: 10rem;
            margin-top: 1rem;

            label {
                font-weight: bold;
                display: inline-block;
                vertical-align: middle;
                margin-right: 1rem;
                margin-top: 0.5rem;
            }

            select {
                width:20rem;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .top-right-menu {
            li {
                display: inline-block;
                margin-right: 2.2rem;

                .notifications-link {
                    display: block;
                    width: 32px;
                    height: 34px;
                    position: relative;
                    top: -2px;
                    left: -2px;

                    background: url(../img/top-bar/notification.png) no-repeat;

                    &:hover {
                        background: url(../img/top-bar/notification-hover.png) no-repeat;
                    }
                }

                .notifications-link, .todos-link {
                    .badge {
                        margin-left: 1.5rem;
                        margin-top: -2.9rem;
                        padding-top: 7px;
                        padding-left: 0;
                        padding-right: 0;
                        text-align: center;
                        width: 27px;
                        height: 27px;
                        border-radius: 17px;
                        font-size: 15px;
                        background: $green;
                        color: $touareg;
                    }
                }

                .notifications {
                    position: absolute;
                    z-index: 9999;
                    top: 9.1rem;
                    right: 0;
                    bottom: 0;
                    width: 15%;
                    overflow: hidden;
                    min-height: 100vh;
                    min-width: 35rem;

                    -webkit-box-shadow: -2px 0px 6px 0px rgba(113, 115, 119, 0.57);
                    -moz-box-shadow:    -2px 0px 6px 0px rgba(113, 115, 119, 0.57);
                    box-shadow:         -2px 0px 6px 0px rgba(113, 115, 119, 0.57);

                    background: white;
                    
                    .tabs {
                        overflow: hidden;
                        border-bottom: none;

                        li {
                            margin-right: 0;
                            width: 50%;
                            height: 5rem;
                            line-height: 5rem;
                            float: left;

                            &:hover {
                                cursor: pointer;
                            }
                            
                            &:after {
                                content: "";
                                display: block;
                                height: 1px;
                                background: #cbcccc;
                            }

                            i {
                                margin: auto;
                                display: block;
                                margin-top: 1.2rem;

                                &.notification-icon {
                                    background: url('../img/top-bar/notification-icon.png') no-repeat center center;
                                    width: 28px;
                                    height: 20px;
                                    display: block;
                                    margin-bottom: 13px;
                                }

                                &.message-icon {
                                    background: url('../img/top-bar/message-icon.png') no-repeat center center;
                                    width: 29px;
                                    height: 26px;
                                    display: block;
                                    margin-bottom: 7px;
                                    position: relative;
                                    top: -2px;
                                }
                            }
                        }
                    }

                    .content-tab {
                        padding: 2rem;
                        height: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: slategrey;
                            outline: 1px solid slategrey;
                        }

                        .notification {
                             margin-bottom: 3rem;
                             padding-bottom: 1rem;
                             overflow: hidden;

                             font-family: $typo1;

                             &:hover {
                                 background: #f4f8f9;
                             }

                             a {
                                 display: block;
                                 width: 100%;
                                 height: 100%;
                                 padding-right: 1rem;
                                 padding-left: 1.3rem;
                                 overflow: hidden;
                             }

                             .project {
                                 display: block;
                                 padding: 1.3rem 1.7rem 1.1rem 2.2rem;
                                 margin-bottom: 1.5rem;

                                 color: white;
                             }

                             .title {
                                 display: block;
                                 overflow: hidden;
                                 margin-bottom: 0.5rem;
                                 padding-left: 0.1rem;

                                 color: #2b2b2b;
                             }

                             .description {
                                 display: block;
                                 padding-left: 0.1rem;

                                 font-size: 1.2rem;
                                 color: #9e9e9e;
                             }

                            .avatar {
                                float: left;
                                margin-right: 1.5rem;
                            }

                             .relative-date {
                                 margin-top: 1.2rem;
                                 float: right;

                                 font-size: 1.0rem;
                                 color: #9e9e9e;
                             }

                            .message {
                                display: block;
                                overflow: hidden;

                                font-size: 1.2rem;
                                color: #9e9e9e;
                            }

                             .link {
                                 &:hover {
                                     text-decoration: none;
                                 }
                             }

                             .notification-status {
                                 cursor: pointer;
                                 color: white;

                                 &:hover {
                                     color: $green;
                                 }
                             }
                        }
                    }
                }

                .todos-link {
                    background: url(../img/top-bar/todo.png) no-repeat;
                    width: 38px;
                    height: 33px;
                    display: block;

                    &:hover {
                        background: url(../img/top-bar/todo-hover.png) no-repeat;
                    }

                    .badge {
                        margin-top: -3.5rem;
                    }
                }

                .todos {
                    width: 268px;
                    position: absolute;

                    top: 56px;
                    left: -100px;
                    z-index: 9999;
                    background: white;
                    border: 1px solid #a0a6a9;
                    padding: 1.5rem;

                    .title {
                        font-size: 1.75rem;
                        font-weight: bold;
                        display: block;
                        margin-bottom: 1rem;
                    }


                    ul {
                        padding: 0px;
                        margin-bottom: 2rem;
                    }

                    .todo {
                        margin-bottom: 0.5rem;
                        overflow: hidden; 
                        margin-right: 0px;
                        display: block;         
                        padding-left: 2rem;
                        cursor: pointer;
                        background: url(../img/top-bar/todo-uncheck.png) no-repeat left 4px;


                        .name {
                            width: 180px;
                            display: inline-block;

                        }

                        .name:hover {
                            opacity: 0.8;
                        }

                        .btn-delete-todo {
                            color: $touareg; 
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: middle;
                            white-space: normal;
                        }

                        .btn-delete-todo:hover {
                            color: $green;
                        }
                    }

                    .todo:hover, .todo-status-completed {
                        
                        margin-right: 0;
                    }

                    .no-todos {
                        color: #a0a6a9;
                    }

                    .todo-status-completed {
                        background: url(../img/top-bar/todo-check2.png) no-repeat left 1px;
                        .name {
                            text-decoration: line-through;                            
                        }
                    }

                    .form-inline {

                        .new-todo {
                            width: 178px;
                            height: 28px;
                            margin-right: 1.5rem;
                        }

                        .add {
                            margin-right: 0;
                            margin-bottom: 0;
                        }

                        .valid {
                            padding: 0.5rem;
                            height: 30px;
                        }
                    }
                }
            }

            .todo {
                position: relative;
            }

            .avatar {
                border-radius: 50%;
                width: 50px;
                height: auto;
            }

            .avatar:hover {
                opacity: 0.9;
            }

            .out {

                vertical-align: middle;

                .log-out {
                    display: block;
                    width: 33px;
                    height: 32px;
                    background: url(../img/top-bar/log-out.png)no-repeat center center;
                }

                .log-out:hover {
                    background: url(../img/top-bar/log-out-hover.png)no-repeat center center;
                }
            }
        }
    }
}