.current-event {
    background: #DF5A49 !important;
    border: 1px solid #DF5A49 !important;
}

#event-infos .loading {
    background: rgba(255, 255, 255, 0.75) url('../img/loading.gif') center center no-repeat;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
}