#calendar {

    .fc-event .fc-content {
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
}

#step-infos{
    height: 350px;
    margin-bottom: 4rem;

    .loading {
        background: rgba(255, 255, 255, 0.75) url('../img/loading.gif') center center no-repeat;
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 100%;
    }
}

.fc .fc-button-group > *, .fc-today-button {
    background: none;
    border: 1px solid $light_blue;
    color: $light_blue;
    border-radius: 0rem !important;
}

.fc .fc-left button:first-child,
.fc .fc-right button {
    margin-right: 1.6rem;
}

.fc-center {
    h2 {
        color: $touareg;
        font-family: $typo1;
    }
}

.fc-unthemed .fc-today {
    background: #f9fbe6;
}

.fc-state-active {
    box-shadow: none;
    background: $light_blue !important;
    color: white !important;
    text-shadow: none;
}

.fc-event {
    border-radius: 0;

    .fc-content {
        padding: 5px;
    }
    
    .fc-bg {
        opacity: 0;
    }

    .delete-event {
        float: right;
        top: -35px;
        right: 5px;
        z-index: 999;
    }

    .delete-event:hover {
        color: $green;
        opacity: 1;
    }
}

.fc-day-grid-event {
    margin: 0;

    .delete-event {
        top: -20px;
    }
    
    .fc-time {
        margin-right: 1rem;
    }
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}