.dashboard-content {
    .block {
        h3 {
            margin-bottom: 2rem;
        }
    }

    .last-messages {
        .count {
            background: #e2c44b;
        }

        .conversation {
            .users {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }

            .message {
                overflow: hidden;
                margin-bottom: 1rem;

                .glyphicon-user {
                    margin-left: 1rem;
                }

                .user_name {
                    font-weight: bold;
                    color:#cc6057;
                }

                .content {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    background: white;
                    padding: 1rem;
                }
            }
        }

        .submit {
            margin-top: 1rem;
            margin-bottom: 1rem;
            overflow: hidden;
        }

        .new-message {
            margin-bottom: 0;
        }

        .wrapper {
            height: 400px;
            overflow-y: scroll;
            margin-bottom: 2rem;

            table {
                tbody {
                    tr:first-child {
                        td {
                            border-top: none;
                        }
                    }
                }
            }
        }
    }
}