.block {
    padding: 0rem;
    padding-top: 2.5rem;
    margin-bottom: 2rem;

    background: white;
    border-radius: 0px;
    border: 1px solid #bdc0c1;

    .block-content {
        padding: 0rem;
    }
}

.block-content {
    display: block;
    width: 100%;
    padding: 1rem 2rem;

    background: #fefefe;
}

.dashboard-content {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;

    background: #e6f0f3;

    .ui-state-highlight {
        border: none !important;
        background: #0c7594;
        overflow: hidden;
        margin-bottom: 3rem;
    }

    .block {
        h3 {
            display: block;
            margin-bottom: 2rem;
            margin-left: 1.7rem;
            margin-top: 0;

            font-family: $typo1;
            font-size: 2.1rem;
            color: $touareg;
        }

        .all {
            width: 25px;
            height: 22px;
            margin-right: 2.4rem;

            background: url(../img/dashboard/all.png) no-repeat;

            &:hover {
                background: url(../img/dashboard/all-hover.png) no-repeat;
            }
        }

        .move-widget {
            font-size: 2.5rem;
            margin-right: 1.5rem;
            color: $touareg;
        }
        
        .move-widget:hover {
            color: $green;
            text-decoration: none;
        }
    }

    .calendar, .planning {

        .block-content {
            padding-right: 1.6rem;
            padding-left: 1.6rem;
        }
    }

    .last-tickets {
        table {
            tr {
                border-bottom: 1px solid #daddde;
            }

            tr:last-child {
                border-bottom: none;
            }
        }

        .table {
            thead {
                th:last-child {
                    padding-right: 1rem;
                }
            }

            .priorities {
                padding: 1.5rem 3rem;
            }

            .action {
                text-align: right;
            }
        }
    }

    .last-messages {
        overflow: hidden;

        .count {
            background: #e2c44b;
        }

        table td:first-child {
            padding-left: 2.5rem;
        }

        .conversation {
            .users {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }

            .message {
                overflow: hidden;
                margin-bottom: 1rem;

                .glyphicon-user {
                    margin-left: 1rem;
                }

                .user_name {
                    font-weight: bold;
                    color:#cc6057;
                }

                .content {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    background: white;
                    padding: 1rem;
                }
            }

            .message:last-child {
                margin-bottom: 0;
            }
        }

        .button-message {
            margin-right: 2rem;
            margin-top: 2px;
        }

        /*.reply-message:hover {
            background: $green;
        }*/

        .new-message {
            margin-bottom: 0;
        }
    }

    .conversation-modal {
        .conversation {
            overflow: hidden;

            .messages {
                overflow-y: auto;
                max-height: 600px;
                padding-right: 2rem;
                padding-left: 2rem;
                margin-bottom: 5rem;

                textarea {
                    padding: 0;
                }
            }
        }
    }

    .loading {
        background: rgba(255, 255, 255, 0.75) url('../img/loading.gif') center center no-repeat;
    }

    .planning {
        .fc-body > tr > .fc-widget-content {
            border: none !important;
        }

        .fc-head > tr > .fc-head-container {
            border-left: 0;
            border-right: 0;
        }
    }

    .reporting {
        margin-bottom: 3rem;

        .project {
            position: relative;
            z-index: 99999;
            vertical-align: middle;

            padding-top: 2.8rem;
            padding-bottom: 2.2rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            margin-bottom: 2rem;

            font-size: 1.5rem;
            font-family: $typo1;
            color: white;
            cursor: pointer;

            border: 1px solid #bbc1bf;

            &:last-child {
                margin-right: 0;
            }

            .toggle-progress {
                display: inline-block;
                margin-left: 1.5rem;

                color: white;
                cursor: pointer;
                font-size: 1.3rem;

                @extend .glyphicon;
                @extend .glyphicon-triangle-bottom;

                &.opened {
                    @extend .glyphicon-triangle-top;
                }

                &:hover {
                    color: $green;
                }
            }
            .time-values {
                float: right;
                font-size: 1.7rem;
            }

            .project-team {
                position: absolute;
                bottom: -1.5rem;
                left: 1.25rem;
                z-index: 6;

                .avatar {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 0.5rem;
                    display: inline-block;

                    border: none;
                }
            }

            .project-progress {
                position: absolute;
                left: 0;
                right: 0;
                top: 7.5rem;
                z-index: 5;

                background: white;
            }
        }

        .slick-slide img {
            display: inline-block;
        }

        .slick-list {
            overflow: visible;
            z-index: 999;
        }
    }
}