.dashboard-content {
    padding-top: 4rem;
    padding-left: 4rem;
    
    .block {

        h3 {
            display: inline-block;
            margin-bottom: 2rem;
            margin-left: 1.7rem;

            font-family: $typo1;
            font-size: 2.6rem;
            color: $touareg;
        }

        .all {
            width: 25px;
            height: 22px;  
            margin-right: 2.4rem;

            background: url(../img/dashboard/all.png)no-repeat;
        }

        .all:hover {
             background: url(../img/dashboard/all-hover.png)no-repeat;
        }
    }

     .planning {

        h3 {
            display:  block;
        }
    }

    .last-messages {
        .count {
            background: #e2c44b;
        }

        .conversation {
            .users {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }

            .message {
                overflow: hidden;
                margin-bottom: 1rem;

                .glyphicon-user {
                    margin-left: 1rem;
                }

                .user_name {
                    font-weight: bold;
                    color:#cc6057;
                }

                .content {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    background: white;
                    padding: 1rem;
                }
            }
        }

        .submit {
            margin-top: 1rem;
            margin-bottom: 1rem;
            overflow: hidden;
        }

        .new-message {
            margin-bottom: 0;
        }

        .wrapper {
            //height: 322px;
            overflow-y: scroll;
            //margin-bottom: 2rem;

            table {
                tbody {
                    tr:first-child {
                        td {
                            border-top: none;
                        }
                    }
                }
            }
        }
    }

    .loading {
        background: rgba(255, 255, 255, 0.75) url('../img/loading.gif') center center no-repeat;
    }
}
