.error-template {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;

    h1 {
        font-size: 25px;
        color: $touareg;
        font-family: $typo1;
        display: inline-block;
    }
}