body {
    position: relative;
}

.top-bar {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: white;

    .logo {
        font-size: 3rem;

        a {
            color: $black;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .top-right-menu {
        position: relative;

        li {
            display: inline-block;
            margin-right: 2rem;

            .new-notifications {
                background: #DF5A49;
            }

            .notifications {
                position: absolute;
                background: white;
                border: 2px solid #ccc;
                padding: 1.5rem;
                z-index: 999;
                top: 4rem;
                right: 0;
                width: 35rem;

                .close {
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    font-size: 1.5rem;
                    color: #333;
                    opacity: 0.75;
                }

                .title {
                    font-size: 1.75rem;
                    font-weight: bold;
                    display: block;
                }

                .notification {
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #ccc;
                    overflow: hidden;

                    .date {
                        font-weight: bold;
                        display: block;
                        float: left;
                    }

                    .type {
                        float: right;
                        margin-bottom: 0.75rem;
                    }

                    .description {
                        clear: both;
                        display: block;

                        .btn {
                            margin-top: 1rem;
                        }
                    }

                    .not-read {
                        color: #dadada;
                    }

                    .read {
                        color: #313131;
                    }

                    .status {
                        cursor: pointer;
                    }
                }

                .notification:first-child {
                    margin-top: 2rem;
                }

                .notification:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }

        .avatar {
            border-radius: 50%;
            border: 2px solid $green;
            width: 60px;
            height: auto;
        }

        .avatar:hover {
            opacity: 0.9;
        }
    }
}

.left-bar {
    padding: 2rem 0 2rem 0;

    background: $light-gray;
    border-radius: 4px;

    h3 {
        font-size: 1.9rem;
    }

    > ul {
        margin-right: 2rem;
        list-style: none;

        li {
            padding: 1rem;
            list-style: none;

            background: white;
            border-bottom: 1px solid rgba(100, 100, 100, 0.15);

            li:hover {
                background: rgb(245, 245, 245);
            }

            a {
                display: block;
            }
        }

        > li {
            margin-bottom: 2rem;
            padding: 2rem;

            ul {
                margin-left: 0;
                padding-left: 0;
            }
        }

        > li:first-child {
            h3 {
                margin-top: 0;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }

    .projects-list {
        padding-left: 0;
        margin-left: 0;
        list-style: none;

        li {
            padding: 1rem;

            background: white;
            border-bottom: 1px solid rgba(100, 100, 100, 0.15);

            .client {
                margin-right: 1rem;
            }
        }

        .current {
            background: rgb(245, 245, 245);
        }
    }

    a:hover {
        text-decoration: none;
    }
}

.beta-form {
    position: absolute;
    bottom: 0px;
    right: 0px;

    .icon {
        padding: 1rem;
        background: #f5f5f5;
        border: 1px solid #ddd;
        border-bottom: none;
        border-right: none;
        cursor: pointer;
        color: #096a85;
    }
}

.beta-form:hover {
    opacity: 0.8;
}

