body {
    position: relative;
}

.top-bar {
    padding-top: 2rem;
    padding-bottom: 1rem;
.top-bar-container {
    background: white;

    .top-bar {
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        display: inline-block;
        width: 100%;
        height: auto;

        .logo {
            font-size: 3rem;

            a {
                color: $black;
            }

            a:hover {
                text-decoration: none;
            }
        }

        .top-right-menu {
            position: relative;

            li {
                display: inline-block;
                margin-right: 2rem;

                .notifications-link {
                    display: block;
                    width: 57px;
                    height: 39px;
                    background: url(../img/top-bar/notification.png) no-repeat;

                    .badge {
                        margin-left: 2.5rem;
                        margin-top: -2.9rem;
                        padding: 8px 11px;
                        border-radius: 17px;
                        font-size: 15px;
                        background: $green;
                        color: $touareg;
                    }
                }

                .notifications-link:hover {
                     background: url(../img/top-bar/notification-hover.png) no-repeat;

                     .badge {
                        background: $touareg;
                        color: $green;
                     }
                }

                .new-notifications {
                    background: #DF5A49;
                }

                .notifications {
                    position: absolute;
                    background: white;
                    border: 2px solid #ccc;
                    padding: 1.5rem;
                    z-index: 999;
                    top: 4rem;
                    right: 0;
                    width: 35rem;

                    .close {
                        position: absolute;
                        right: 1rem;
                        top: 1rem;
                        font-size: 1.5rem;
                        color: #333;
                        opacity: 0.75;
                    }

                    .title {
                        font-size: 1.75rem;
                        font-weight: bold;
                        display: block;
                    }

                    .notification {
                        margin-bottom: 1rem;
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #ccc;
                        overflow: hidden;

                        .date {
                            font-weight: bold;
                            display: block;
                            float: left;
                        }

                        .btn {
                            margin-top: 1rem;
                        .type {
                            float: right;
                            margin-bottom: 0.75rem;
                        }

                        .description {
                            clear: both;
                            display: block;

                            .btn {
                               margin-top: 1rem;
                            }
                        }

                        .not-read {
                            color: #dadada;
                        }

                        .read {
                            color: #313131;
                        }

                        .status {
                            cursor: pointer;
                        }
                    }
                    
                    .notification:first-child {
                        margin-top: 2rem;
                    }

                    .notification:last-child {
                        border: none;
                        padding-bottom: 0;
                    }
                }

                .notification:first-child {
                    margin-top: 2rem;
                }
            }

            .avatar {
                border-radius: 50%;
                border: 2px solid $green;
                width: 60px;
                height: auto;
            }

            .avatar:hover {
                opacity: 0.9;
            }

            .out {

            vertical-align: middle;

                .log-out {
                    display: block;
                    width: 33px;
                    height: 32px;
                    background: url(../img/top-bar/log-out.png)no-repeat center center;
                }

                .log-out:hover {
                     background: url(../img/top-bar/log-out-hover.png)no-repeat center center;
                }
            }
        }
    }
}

.left-bar {
    padding: 2rem 0 2rem 0;
    margin-left: -16px;

    background: #0a6a86;

    h3 {
        font-size: 2.5rem;
        color: white;
        letter-spacing: 0.1rem;
        padding-top: 15px;
    }

     h3:hover {
        color: $green;
    }

    > ul {
        margin-right: 2rem;
        list-style: none;

        li {
            padding: 1rem;
            list-style: none;

            background: none;
            border-bottom: 1px solid rgba(100, 100, 100, 0.15);
            font-family: $typo1;

            li:hover {
                background: rgb(245, 245, 245);
            }

            a {
                display: block;
            }

            .img {
                width: 48px;
                height: 48px;
                display: block;
                float: left;
            }


            .dashboard {
                background: url(../img/left-bar/picto-dashboard.png) no-repeat;
            }

            .dashboard:hover {
                background: url(../img/left-bar/picto-dashboard-hover.png) no-repeat;
            }

            .projects {
               display: block;
               background: url(../img/left-bar/picto-project.png) no-repeat;
            }

            .projects:hover {
               background: url(../img/left-bar/picto-project-hover.png) no-repeat;
            }

            .utils {
                display: block;
                background: url(../img/left-bar/picto-utils.png) no-repeat;
            }

            .utils:hover {
                background: url(../img/left-bar/picto-utils-hover.png) no-repeat;
            }

            .agency {
                 display: block
                 background: url(../img/left-bar/agency.png) no-repeat;
            }

            .agency:hover {
                background: url(../img/left-bar/agency-hover.png) no-repeat;
            }
        }

        > li {
            margin-bottom: 2rem;
            padding: 2rem;

            ul {
                margin-left: 0;
                padding-left: 0;
            }
        }

        > li:first-child {
            h3 {
                margin-top: 0;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }

    .projects-list {
        padding-left: 0;
        margin-left: 0;
        list-style: none;

        li {
            padding: 1rem;

            background: white;
            border-bottom: 1px solid rgba(100, 100, 100, 0.15);

            .client {
                margin-right: 1rem;
            }
        }

        .current {
            background: rgb(245, 245, 245);
        }
    }

    a:hover {
        text-decoration: none;
    }
}

.beta-form {
    position: absolute;
    bottom: 0px;
    right: 0px;

    .icon {
        padding: 1rem;
        background: #f5f5f5;
        border: 1px solid #ddd;
        border-bottom: none;
        border-right: none;
        cursor: pointer;
        color: #096a85;
    }
}

.beta-form:hover {
    opacity: 0.8;
}

