.phases-list {
    overflow: hidden;

    .phases {
        margin-bottom: 5rem;

        .phase, .task {

            .phase-wrapper, .task-wrapper {
                margin-bottom: 2rem;
                padding: 1.5rem 2rem;

                color: $touareg;
                font-size: 2rem;

                border: 2px solid $touareg;

                .delete-phase, .delete-task {
                    margin-top: 6px;
                    float: right;
                }

                .input-phase-name, .input-task-name {
                    min-width: 250px;
                    padding: 0;
                    outline: 0;
                    border: none !important;
                }

                .name {
                    cursor: pointer;
                    display: inline-block;
                }

                .name:hover {
                    color: #6a7376;
                }

                i.valid-phase-rename, i.valid-task-rename {
                    cursor: pointer;
                    margin-left: 20px;
                    color: $green;
                    margin-right: 5px;
                    font-size: 17px;
                }

                i.cancel-phase-rename, i.cancel-task-rename {
                    cursor: pointer;
                    color: #960216;
                    font-size: 17px;
                }

                .input-task-duration {
                    width: 90px;
                    float: right;
                    margin-right: 15rem;
                    padding: 0.5rem 1rem 0.3rem 1rem;

                    font-size: 1.4rem;

                    border: 1px solid $touareg !important;
                }
            }
        }
        
        .phase {
            .toggle-tasks {
                margin-right: 2rem;
                margin-top: 4px;
                float: right;

                cursor: pointer;
            }

            .toggle-tasks:hover {
                color: $green;
            }

            .tasks {
                margin-left: 8rem;

                .task-wrapper {
                    margin-bottom: 0.75rem;
                }

                > .placeholder {
                    margin-bottom: 4rem;
                }
            }
        }
    }

    .placeholder {
        padding: 1.5rem 2rem;
        margin-bottom: 2rem;

        color: #c0cbcf;
        font-size: 2rem;

        border: 2px dashed #c0cbcf;
        cursor: pointer;
    }

    .placeholder:hover {
        color: #6a7376;
        border: 2px dashed #6a7376;
    }

    .valid-phases {
        margin-top: 3rem;
        float: right;
        color: $touareg;
        padding: 1.5rem 5rem 1.5rem 4rem;

        font-size: 2rem;

        border: none;
        background: $green;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        i {
            font-size: 19px;
        }
    }

    .valid-phases:focus {
        outline: 0;
    }
    
    .valid-phases:hover {
        opacity: 0.8;
    }

    .loading {
        @extend .valid-phases;
        background: $light_blue;
        color: white;
    }

    .loading:hover {
        opacity: 1;
    }
}