.current-event {
    background: #DF5A49 !important;
    border: 1px solid #DF5A49 !important;
}

#event-infos{
    height: 350px;
    margin-bottom: 4rem;

    .loading {
        background: rgba(255, 255, 255, 0.75) url('../img/loading.gif') center center no-repeat;
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 650px;
    }
}

.tickets-list {
    margin-top: 5rem;
}

#planning {
    a[href]:hover {
        text-decoration: underline;
    }
}

.planning-template {
    h2 {
        margin-left: 1.5rem;
    }
}