.project-tasks-template {
    padding: 0;

    .middle-column {
        .task-check {
            display: inline-block;
            float: right;
            margin-top: 1.3rem;

            font-size: 2.5rem;
            color: $green;
        }
    }

    .content-page {
        overflow: hidden;
        padding: 3rem;
        margin-left: 40.5rem;
    }
}

.project-tickets-template {
    padding: 0;

    .content-page {
        overflow: hidden;
        padding: 3rem;
        margin-left: 40.5rem;

        .notice-notification {
            font-size: 1.4rem;
            margin-top: 1rem;
        }

        .btn-cancel {
            margin-left: 1.5rem;
        }
    }
}