.project-tasks-template {
    .project-tasks {
        margin-top: 2rem;
        overflow: hidden;

        .phases {

            .phase, .task {

                .phase-wrapper, .task-wrapper {
                    margin-bottom: 2rem;
                    padding: 1.5rem 2rem;

                    color: $touareg;
                    font-size: 2rem;

                    border: 2px solid $touareg;

                    background: white;
                    cursor: move;

                    .delete-phase, .delete-task {
                        margin-top: 6px;
                        float: right;
                    }

                    .input-phase-name, .input-task-name {
                        min-width: 250px;
                        padding: 0;
                        outline: 0;
                        border: none !important;
                        color: $touareg;
                    }

                    .input-phase-name:hover, .input-task-name:hover,
                    .input-phase-name:focus, .input-task-name:focus {
                        color: #6a7376;
                    }

                    .input-task-duration {
                        width: 90px;
                        float: right;
                        margin-right: 15rem;
                        padding: 0.5rem 1rem 0.3rem 1rem;

                        font-size: 1.4rem;

                        border: 1px solid $touareg !important;
                    }
                }
            }

            .phase {
                .toggle-tasks {
                    margin-right: 2rem;
                    margin-top: 4px;
                    float: right;

                    cursor: pointer;
                }

                .toggle-tasks:hover {
                    color: $green;
                }

                .phase-duration {
                    width:  100px;
                    margin-top: 6px;
                    float: right;
                    margin-right: 10.5rem;

                    font-size:1.4rem;
                    text-align: center;

                    .value {
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }

                .tasks {
                    margin-left: 8rem;

                    .task-wrapper {
                        margin-bottom: 0.75rem;
                    }

                    > .placeholder {
                        margin-bottom: 4rem;
                    }
                }
            }
        }

        .placeholder {
            padding: 1.5rem 2rem;
            margin-bottom: 2rem;

            color: #c0cbcf;
            font-size: 2rem;

            border: 2px dashed #c0cbcf;
            cursor: pointer;
        }

        .placeholder:hover {
            color: #6a7376;
            border: 2px dashed #6a7376;
        }

        .valid-wrapper {
            overflow: hidden;
            margin-bottom: 2rem;
        }

        .valid-phases {
            float: right;
            color: $touareg;
            padding: 1rem 2.5rem 1rem 2.5rem;

            font-size: 1.8rem;

            border: none;
            background: $green;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;

            i {
                font-size: 19px;
            }
        }

        .valid-phases:focus {
            outline: 0;
        }

        .valid-phases:hover {
            opacity: 0.8;
        }

        .loading {
            @extend .valid-phases;
            background: $light_blue;
            color: white;
        }

        .loading:hover {
            opacity: 1;
        }
    }

    .button-import-phases-tasks {
        float: right;
        margin-right: 8rem;
        margin-top: 3px;
        font-size: 1.8rem;
        font-family: $typo2;
        color: $touareg;
        cursor: pointer;

        i {
            margin-left: 0.5rem;
        }
    }

    .button-import-phases-tasks:hover {
        cursor: pointer;
        text-decoration: none;
        color: $green;

        i {
            color: $green;
        }
    }

    #import-phases-tasks-modal {
        .modal-header {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .modal-body {
            overflow: hidden;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }

        .modal-content {
            background: #f4f8f9;
            padding: 2rem;

            textarea {
                width: 100%;
                display: block;
                padding: 1rem;
            }

            .placeholder {
                color: #a3b1bd;
            }

            .notice {
                margin-bottom: 3rem;
            }
        }

        .modal-footer {
            padding: 0 30px 0 0;
            border: none;
        }
    }
}