.tasks {
    list-style: none;
    display: block;
    padding-left: 0;

    .task {
        overflow: hidden;

        .name {
            cursor: pointer;
            float: left;
            margin-right: 10px;
            font-weight: bold
        }

        .name:hover {
            text-decoration: line-through;
        }

        .btn-delete-task {
            cursor: pointer;
        }
    }
}