.tasks-template {
    h2 {
        margin-left: 1.5rem;
    }

    .table-responsive {
        max-height: 410px;
        clear: right;
    }

    .task-dragndrop {
        vertical-align: middle;
        display: inline-block;
        margin-top: 6px;

        .move-widget:hover {
            text-decoration: none;
            color: $green;
        }
    }
}