.status {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 1rem;
    border-radius : 0.3rem;
    display: inline-block;
}

.status-1 {
    background: #DF5A49;
    color: white;
}

.status-2 {
    background: #E27A3F;
    color: white;
}

.status-3 {
    background: #7ce0ff;
    color: white;
}

.status-4 {
    background: #45B29D;
    color: white;
}

.status-5 {
    background: #a1e647;
    color: white;
}

.status-6 {
    background: #3745ff;
    color: white;
}

#fileupload {
    .thumbnail {
        margin-bottom: 0;
    }
}