.status {
    display: inline-block;
    background: none;
}

.priority {
    width: 24px;
    height: 25px;
    display: block;
}
.priority-1 {
    background: url(../img/dashboard/tickets/priority-1.png) no-repeat;
}

.priority-2 {
    background: url(../img/dashboard/tickets/priority-2.png) no-repeat;
}

.priority-3 {
    background: url(../img/dashboard/tickets/priority-3.png) no-repeat;
}

.priority-4 {
    background: url(../img/dashboard/tickets/priority-4.png) no-repeat;
}

.priority-5 {
    background: url(../img/dashboard/tickets/priority-5.png) no-repeat;
}

#fileupload {
    .thumbnail {
        margin-bottom: 0;
    }
}

.label {
    font-weight: 400;
}

.table > tbody > tr > td {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.table {
    thead {
        font-family: $typo2;
        color: #8fafbc;
        font-size: 2rem;

        th {
             font-weight: 400;
        }
    }
}