html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    padding-top: 0;

    color: $black;
}

h1 {
    font-size: 3rem;
}

ul {
    margin-left: 0;
    padding-left: 2rem;
}