.templates {
    background: white;
    padding: 2.5rem;
    border: 1px solid #bdc0c1;

    .page-header {
        font-size: 2.5rem;
        color: $touareg;
        font-family: $typo1;
        margin-top: 0rem;

        h1 {
            font-size: 25px;
            color: $touareg;
            font-family: $typo1;
        }
     }
}

.text-seo {
    color: $touareg;
    font-weight: 400;
}

.info {
    padding: 1rem;
    margin-bottom: 2rem;
    clear: both;
}

.priority-1 {
    background: #334D5C;
}

.priority-2 {
    background: #45B29D;
}

.priority-3 {
    background: #EFC94C;
}

.priority-4 {
    background: #E27A3F;
}

.priority-5 {
    background: #DF5A49;
}

.task-status-completed {
    text-decoration: line-through;
}

.badge {
    padding: 6px 8px 3px 8px;
    border-radius: 18px;
    font-size: 13px;
    background: $green;
    color: $touareg;
}

.avatar {
    border-radius: 50%;
    border: 1px solid $green;
    width: 40px;
    height: 40px;
}