.table {
    > tbody {
        > tr {
            > td {
                vertical-align: middle;
                padding: 1.5rem 1rem;

            }
        }
    }
}

.block {
    padding: 2rem;
    margin-bottom: 2rem;

    background: $light-gray;
    border-radius: 4px;
}

.info {
    padding: 1rem;
    margin-bottom: 2rem;
}

.priority1 {
    background: #334D5C;
}

.priority2 {
    background: #45B29D;
}

.priority3 {
    background: #EFC94C;
}

.priority4 {
    background: #E27A3F;
}

.priority5 {
    background: #DF5A49;
}

.btn {
    .glyphicon {
        margin-right: 0.5rem;
    }
}