.table {
    > tbody {
        > tr {
            > td {
                vertical-align: middle;
                padding: 1.5rem 1rem;

            }
        }
    }
}

.block {
    padding: 2rem;
    margin-bottom: 2rem;

    background: $light-gray;
    border-radius: 4px;
}

.info {
    padding: 1rem;
    margin-bottom: 2rem;
}

.priority-1 {
    background: #334D5C;
}

.priority-2 {
    background: #45B29D;
}

.priority-3 {
    background: #EFC94C;
}

.priority-4 {
    background: #E27A3F;
}

.priority-5 {
    background: #DF5A49;
}

.btn {
    .glyphicon {
        margin-right: 0.5rem;
    }
}

.block-content {
    display: block;
    width: 100%;
    min-height: 250px;
    padding: 1rem 2rem;

    background: #fefefe;
}

.task-status-completed {
    text-decoration: line-through;
}